<form class="external-sign-in-container" asp-controller="Login" asp-action="ExternalSignIn" method="post" novalidate>
    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
    <button class="btn btn-gray" type="submit" name="provider" value="Google">Sign up / in with Google</button>
    <img src="https://img.icons8.com/color/48/000000/google-logo.png" />
</form>