.member-card{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  max-height: 460px;
  min-height: 430px;
  border: none;
  border-radius: 1rem;
  background-color: var(--surface);
  z-index: 4;
  gap: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);

  &:hover{
    scale: 1.01;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.1);
  }
}

.member-card-info{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 1.5rem ;
  width: 100%;
  gap: 1rem;
}
.member-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.25rem;
  min-height: 3rem;
}
.member-name{
  max-width: 268px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.member-card-info-expanded{
  cursor: pointer;
  position: relative;
  display: none;
  grid-template-areas: 
  "image info"
  "btn btn" ;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  align-items: center;
  width: 616px;
  /* max-height: 460px; */
  border: none;
  border-radius: 1rem;
  background-color: var(--surface);
  padding: 1rem 1.5rem ;
  gap: 1rem;
  z-index: 10;
  .member-info{
    gap: 0;
  }
  .member-status{
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
  }


  .member-card-left-container{
    grid-area: image;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    
    .member-name{
      max-height: 90px;
      max-width: 268px;
      margin: 1.5rem 0.5rem;
      text-wrap: wrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
  }
  .member-card-right-container{
    grid-area: info;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  
    .member-info{
      h6{
        align-self: flex-start;
        margin: 1rem 0;
        padding: 0;
      }
      p{
        margin-left: 1rem;
        padding: 0;
        text-wrap: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  
  #member-card-message-btn{
    grid-area: btn;
  }
}

.expanded{
  width: 100%;
  max-width: 716px;
  max-height: fit-content;
  .member-card-info{
    display: none;
  }
  .member-card-info-expanded{
    display: grid;
  }
}

h4, p{
  margin: auto;
}

.btn{
  grid-area: btn  ;
}

.member-image{
  margin-top: 1.5rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.member-role{
  padding: .5rem 1rem;
  background-color: var(--gray100);
  border-radius: 0.5rem;
  p{
    font-size: 14px;
  }
}



.member-btn-edit{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: 1000;
  color: var(--body-light);
  align-self: flex-start;
  padding-top: 0.5rem;
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  &:hover{
    background-color: var(--gray100);
    color: white;
  }
}
.open{
  background-color: var(--gray100);
}


/* Popup */
.member-card-edit-popup{
  position: absolute;
  display: none;
  top: 4rem;
  right: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  flex-direction: column;
  gap: 0.25rem;
  background-color: white;
  box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.1);
  width: 70%;
  max-width: 200px;
  z-index: 98;
}

.pop-up-btn{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--btn-bg-gray-color);
  border-radius: .5rem;
  border: none;
  padding: 0.5rem 1rem;
  .edit{
    scale: 1.4;
    transform: scaleX(-1);
  }
  .remove{
    scale: 1.4;
    color: tomato;
    background-color: transparent;
  }
  &:hover{
    cursor: pointer;
    background-color: var(--btn-bg-shadow-color);
  }
}

.active{
  display: flex;
}

.pop-up-remove-btns{
  padding:0.5rem  1rem ;
  background-color: var(--gray100);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  cursor: default;
  align-items: center;
  gap: 0.25rem;
  button{
    background-color: var(--btn-bg-shadow-color);
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 0.5rem;
    padding: 0.15rem 0.25rem;
    &:hover{
      color: red;
    }
  }
}

.hidden{
  display: none;
}