/*Project card*/
.project {
  display: grid;
  position: relative;
  width:clamp(270px, 50%,  350px);
  height: 276px;
  border: none;
  border-radius: 1rem;
  background-color: var(--surface);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-out;
  &:hover{
    scale: 1.01;
  }
}
.project-card{
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 1.5rem;
  height: 100%;
  cursor: pointer;
}

/* Header */
.project-header {
  grid-row: 1;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;

  .project-title-info {
    color: var(--body-light);
  }

  .project-image{
    width: 60px;
    height: 60px;
    border-radius: 1rem;
  }
}
.project-header .project-header-title {
  padding-left: 1.0rem;
  .project-title, .project-title-info {
    margin: 0;
  }
}

/* Description */
.project-body {
  grid-row: 2;
  display: flex;
  height: 100%;
  line-clamp: 5 ;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  
  .project-description{
    line-clamp: 5 ;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
  }
}



/* Footer */
.project-footer {
  grid-row: 3;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
}

.project-time {
  grid-column: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--project-card-time);
  
  padding: 0.5rem;
  font-size: 14px;
  border-radius: 10px;
  height: 34px;
}
.project-time-text{
  color:black;
}

.project-time .project-time-clock {
  position: relative;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--project-card-time-circle);
}

.project-time-clock-pointer-hour {
  position: absolute;
  font-size: 24px;
  background-color: var(--project-card-time-pointer);
  width: 5px;
  height: 1.0px;
  border-radius: 1px;
  top: -16.25px;
  left: 7.75px;
  transform-origin: 0% 50%;
  text-anchor: end;
  animation: rotate 30s linear infinite;
}

.project-time-clock-pointer-minute {
  position: absolute;
  font-size: 24px;
  background-color: var(--project-card-time-pointer);
  width: 6px;
  height: 1.0px;
  border-radius: 1px;
  top: -16.25px;
  left: 7.75px;
  transform-origin: 0% 50%;
  text-anchor: end;
  rotate: 0deg;
  animation: rotate 10s linear infinite;
}

.project-time-clock-pointer-center {
  position: absolute;
  color: var(--project-card-time-pointer);
  top: -5.75px;
  left: 5.75px;
  font-size: 8px;
}

.project-users {
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.5rem;
}

.project-users img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.timesAlmostUpYouNeedToHurry{
  background-color: var(--project-card-time-hurryup);
  span{
    color: rgba(255, 0, 0, 0.555);
  }
  .project-time-clock
  .project-time-clock-pointer-hour
  .project-time-clock-pointer-minute
  .project-time-clock-pointer-center{
    color: var(--project-card-time-hurryup-text);
  }
}

.IsCompleted{
  background-color: var(--project-card-time-completed);
  span{
    color: var(--project-card-time-completed-text)
  }
  .project-time-clock{
    background-color: rgba(33, 118, 0, 0.467);
  }
  .project-time-clock-pointer-hour{
    background-color: black;
  }
  .project-time-clock-pointer-minute{
    background-color: black;
  }
  .project-time-clock-pointer-center{
    color: black;
  }
}

/* Popup */
.project-btn-edit {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: 1000;
  color: var(--body-light);
  align-self: flex-start;
  padding-top: 0.5rem;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: var(--gray100);
    border-radius: 0.5rem;
    color: white;
  }
}

.project-card-edit-popup{
  position: absolute;
  display: none;
  top: 4rem;
  right: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  flex-direction: column;
  gap: 0.25rem;
  background-color: white;
  box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.1);
  width: 70%;
  max-width: 200px;
  z-index: 98;
}

.pop-up-btn{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--btn-bg-gray-color);
  border-radius: .5rem;
  border: none;
  padding: 0.5rem 1rem;
  .edit{
    scale: 1.4;
    transform: scaleX(-1);
  }
  .remove{
    scale: 1.4;
    color: tomato;
    background-color: transparent;
  }
  &:hover{
    cursor: pointer;
    background-color: var(--btn-bg-shadow-color);
  }
}

.active{
  display: flex;
}

.pop-up-remove-btns{
  padding:0.5rem  1rem ;
  background-color: var(--gray100);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  cursor: default;
  align-items: center;
  gap: 0.25rem;
  button{
    background-color: var(--btn-bg-shadow-color);
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 0.5rem;
    padding: 0.15rem 0.25rem;
    &:hover{
      color: red;
    }
  }
}
.hidden{
  display: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* Expanded */
.project-card-expanded{
  display: none;
}
.expanded{
  cursor: pointer;
  width:clamp(270px, 100%,  718px);
  height: fit-content;
  min-height: 276px;
  .project-card{
    display: none;
  }
  .project-card-expanded{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 1rem ;
    grid-template-areas: 
    'header info' 
    'description members';
    padding: 1.5rem;
    .project-description{
      grid-area: description;
      margin: 0;
    }
    .project-header .project-image{
      width: 128px;
      height: 128px;
      border-radius: 1rem;
    }
    .project-header .project-time{
      margin-top: 0.5rem;
      width: fit-content;
    }
  }
}
.project-info{
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  p, span{
    margin: 0;
  }
}
h5{
  margin: 0.5rem 0;
}

.project-members{
  margin: 0;
  grid-area: members;
}
.project-memberslist{
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: end;
  align-items: center;
  img{
    border-radius: 50%;
    height: 36px;
    width: 36px;
  }
}
