@{
    var statuses = await _statusService.GetMemberStatuses();
}
@model MemberStatusFormModel

<div class="status-card">
    <h4 class="status-header">Member status</h4>
    <div class="status-add">
        <form asp-controller="Status" asp-action="AddMemberStatus" class="form-group" novalidate>
            <input asp-for="Description" class="status-input-field" />
            <button type="submit" class="btn btn-status-add">+</button>
        </form>
    </div>
    <ul class="status-list">
        @foreach (var status in await _statusService.GetMemberStatuses())
        {
            <li>
                <div class="status-list-item">
                    <p class="status-list-description">@status.Description</p>
                    <button class="btn btn-small @(statuses.Count() > 1 ? "" : "btn-disabled" )" type="submit" onclick="removeMemberStatus(@status.Id) @(statuses.Count() > 1 ? "" : "disabled" )" title=@(statuses.Count() == 1 ? "Min1statusRequired" : "Delete")>X</button>
                </div>
            </li>
        }
    </ul>
</div>

<script>
    async function removeMemberStatus(status) {
        try {
            const res = await fetch(`/Status/RemoveMemberStatus/${status}`, {
                method: 'POST'
            });
            if (res.ok) {
                location.reload();
            }else{
                console.error("Error removing status");
            }
        }
        catch (error) {
            return false;
        }
    }
</script>