:root {
  --primary-color: #000;
  --secondary-color: #2D99FF;
  --text-color: #000;
  --text-dim: #555;
  --text-light: #fff;
  --border-color: #00000030;
  --heading: #1A1926;
  --body-light: #637085;
  --body-dark: #28263B;
  --gray100: #F5F7FA;
  --gray200: #F0F1F5;
  --gray300: #E8EAED;
  --gray400: #E3E5E8;
  --border100: #EBEEF2;
  --border200: #E3E5E8;
  --border300: #C6C8CC;
  --bg-color: #F1F3F7;
  --surface: #FFFFFF;
  --accent: #2D99FF;
  --orange: #FF9640;
  --red: #FF6640;
  --yellow: #FFD422;
  --blue1: #2CD9D9;
  --green: #31D482;
  --light-green:#a5fdd1;
  --dark-green: #24B26B;
  --dark-orange: #F09330;
  --dark-red: #E94D3F;
  --dark-blue: #2D7DCC;
  --dark-purple: #634CD4;
  --accent-dark: #2682D9;
  --btn-bg-color: var(--accent);
  --btn-bg-shadow-color: rgba(45, 153, 255, 0.35);
  --btn-bg-gray-color: #F5F7FA;
  --btn-text-color: var(--text-light);
  --nav-bg-color: rgba(45, 153, 255, 0.10);
  --nav-bg-hover-color: rgba(45, 153, 255, 0.10);
  --nav-text-color: var(--accent);
  --nav-border-color: #E3E5E8;
  --project-card-time-hurryup: rgb(255, 142, 142);
  --project-card-time-hurryup-text: var(--dark-red);
  --project-card-time-completed: rgba(95, 255, 71, 0.285);
  --project-card-time-completed-text: rgba(34, 118, 0, 0.795);
  --project-card-time: var(--gray200);
  --project-card-time-circle: rgba(0, 0, 0, 0.25);
  --project-card-time-pointer: #000000;
  --modal-bg: rgba(0, 0, 0, 0.3);

  --form-validation-error: rgba(235, 95, 95, 0.504);
  --font-black: 900;
  --font-bold: 700;
  --font-semi-bold: 600;
  --font-medium: 500;
  --font-regular: 400;
  --font-light: 300;
  --font-thin: 100;
}

.dark-mode {
  --primary-color: #fff;
  --secondary-color: #2D99FF;
  --text-color: #E8E8E8;
  --text-dim: #999;
  --text-light: #000;
  --border-color: #00000030;
  --heading: #fff;
  --body-light: #637085;
  --body-dark: #28263B;
  --gray100: #797979;
  --gray200: #F0F1F5;
  --gray300: #E8EAED;
  --gray400: #E3E5E8;
  --border100: #494949;
  --border200: #E3E5E8;
  --border300: #C6C8CC;
  --bg-color: #000;
  --surface: #202123;
  --accent: #2D99FF;
  --orange: #FF9640;
  --red: #FF6640;
  --yellow: #FFD422;
  --blue1: #2CD9D9;
  --green: #31D482;
  --light-green:#a5fdd1;
  --dark-green: #24B26B;
  --dark-orange: #F09330;
  --dark-red: #E94D3F;
  --dark-blue: #2D7DCC;
  --dark-purple: #634CD4;
  --accent-dark: #2682D9;
  --btn-bg-color: var(--accent);
  --btn-bg-shadow-color:  rgba(45, 153, 255, 0.35);
  --btn-bg-gray-color: #F5F7FA;
  --btn-text-color: var(--text-light);
  --nav-bg-color: rgba(45, 153, 255, 0.10);
  --nav-bg-hover-color: rgba(45, 153, 255, 0.10);
  --nav-text-color: var(--accent);
  --nav-border-color: rgba(235, 238, 242, 0.212);
  --project-card-time-hurryup: #f89d9d;
  --project-card-time-hurryup-text: rgba(255, 0, 0, 0.555);
  --project-card-time-completed: rgba(95, 255, 71, 0.223);
  --project-card-time-completed-text: rgba(0, 0, 0, 0.795);
  --project-card-time: var(--gray200);
  --project-card-time-circle: rgba(0, 0, 0, 0.25);
  --project-card-time-pointer: #000000;
  --modal-bg: rgba(0, 0, 0, 0.3);
}

*, *::after, *::before  {
  box-sizing: border-box;
  font-family: 'Nunito', 'Poppins', 'Roboto', sans-serif;
  list-style: none;
}
html, body, section, div, header, footer, main, aside, nav, blockquote {
  margin: 0;
  padding: 0;
}

html {
  color: var(--text-color);
  background-color: var(--bg-color);
}
body{
  
  background-color: var(--bg-color);
  min-height: 100vh;
  
}
main{
  width: 100%;
}
.wrapper{
  margin: 0 auto;
  max-width: 1440px;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--heading);
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 600;
}

h5 {
  font-size: 20px;
  font-weight: 600;
}

h6 {
  font-size: 18px;
  font-weight: 600;
}

p, span {
  font-size: 15px;
  color: var(--text-color);
}

a {
  color: var(--accent);
  font-weight: semi-bold;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;;
}
label{
  color: var(--text-color);
}
.pointer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  cursor: pointer;
  padding:0.25rem;
  border-radius: 50%;
}


/* Text Styles */
.text-black {
  font-weight: 900;
}
.text-bold {
  font-weight: 700;
}
.text-semi-bold {
  font-weight: 600;
}
.text-medium {
  font-weight: 500;
}
.text-regular {
  font-weight: 400;
}
.text-light {
  font-weight: 300;
}
.text-thin {
  font-weight: 100;
}

/* Layout */
.hidden{
  display: none;
}
.show{
  display: grid !important;
}
.block {
  display: block;
}

.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-8 {
  gap: 2rem;
}


/* Badges */
.badge{
  padding: 2px 6px;
  border-radius: 6px;
  text-align: center;
}

/* Colors */
.primary{
  color: var(--primary-color);
}
.success{
  background-color: var(--light-green);
  color: var(--dark-green);
  color: black;
  span, p{
    color: black;
  }
}
.warning{
  background-color: var(--yellow);
  span, p{
    color: black;
  }
}
.chaos{
  background-color: var(--red);
  color: var(--white);
}
.normal{
  background-color: var(--gray400);
  color: var(--text-color);
}

/* Cards */
.surface{
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--surface);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Buttons */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  height: 48px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  width: 100%;
  box-shadow: 0px 5px 10px var(--btn-bg-shadow-color);
  font-weight: 700;
  &:hover{
    background-color: var(--accent-dark);
  }
}

.btn-gray {
  background-color: var(--btn-bg-gray-color);
  color: black;
  box-shadow: none;
  &:hover{
    background-color: var(--btn-bg-shadow-color);
  }
}

.btn-close{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5em;
  border: none;
  background-color: transparent;
  color: var(--text-color);

  &:hover{
    color: var(--text-dim);
  }
}

.btn-create{
  margin-top: 1rem;
}

/* Modal */
.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--modal-bg);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  z-index:15;
}
@media (max-height: 1000px) {
  .modal{
    margin-block: 4rem;
    position: absolute;
    bottom: auto;
    background: radial-gradient(circle, var(--modal-bg) 10%, transparent 65%);
  }
}
.modal .modal-content{
  position: relative;
  background-color: var(--surface);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}
.modal .modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

/* Add Project Modal - Add member popup */
.project-members-list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: .5rem;
  padding-right: 3rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border100);
  min-height: 48px;
}
.project-members-search-btn{
  position: absolute;
  right: 1rem;
  top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  width: 22px;
  height: 22px;
  cursor: pointer;
  &:hover{
    background-color: var(--accent);
  }
}
.project-members-list-member{
  display: flex;
  gap: 0.5rem;
  height: 36px;
  padding: 0.5em;
  background-color: var(--gray100);
  border-radius: 0.5em;
  width: fit-content;
  align-items: center;
  .project-members-list-member-name{
    display: flex;
    align-items: center;
  }
  .project-members-list-member-image{
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  .remove-member-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background:transparent;
    border: none;
    cursor: pointer;
    width: 16px;
    &:hover{
      color: var(--red);
    }
  }
}


/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
}

table tr{
  display: grid;
  grid-template-areas: "checkbox info location phone date status actions";
  grid-template-columns: auto 3fr 2fr 2fr 2fr 2fr 50px;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
}

table th, table td {
  width: 100%;
  padding: 0 1rem;
  text-align: left;
  color: var(--heading);
}
table td{
  color: var(--text-dim);
}

table thead, table tbody{
  display: contents;
}

table thead > tr{
  background-color: var(--gray100);
  /* color: var(--text-light); */
  border-radius: 1rem;
}

table tbody > tr{
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0;
  /* color: var(--text-dim); */

  &:hover{
    background-color: var(--nav-bg-hover-color);
  }
}

table td img{
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

table input[type="checkbox"] {
  width: 16px;
  height: 16px;
  background-color: var(--accent);
}




/* Forms */
form{
  width: 100%;
}

form .form-group{
  position: relative;
  margin-bottom: 1rem;
  margin-top: 0.25rem;
}
form textarea {
  width: 100%;
  min-height: 48px;
  max-width: 490px;
  padding: 1rem;
  border: 1px solid var(--border100);
  border-radius: 14px;
  
}

form .input-validation-error{
  outline: 3px solid var(--form-validation-error);
}

.project-members-list .input-validation-error{
  outline: 3px solid var(--form-validation-error);
}

form .field-validation-error{
  position: absolute;
  color: red;
  background-color: rgba(235, 95, 95, 0.504);
  font-size: .8rem;
  z-index: 10;
  bottom: 3px;
  right: 3px;
  border-radius: .75rem;
  padding: .5rem .75rem;
  text-align: right;
  display: flex;
  gap: .25rem;
  align-items: center;
}

form .field-validation-error::before{
  content: '\26A0';
  font-size: 1.1rem;
}

select, 
input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="date"], 
input[type="number"] {
  position: relative;
  width: 100%;
  height: 48px;
  padding: 0 1rem;
  color: var(--text-color);
  border: 1px solid var(--border100);
  border-radius: 14px;
  background-color: var(--surface);
}


input[type="checkbox"] {
  width: 16px;
  height: 16px;
  background-color: var(--accent);
}

/* Image Preview */
.image-previewer{
  position: relative;
  outline: 3px dashed var(--border100);
  outline-offset: -3px;
  height: 150px;
  width: 150px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.image-previewer::before{
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(/images/icons/Camera.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  padding: 2rem;
  border-radius: 50%;
}

.image-previewer.selected::after{
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(/images/icons/Edit.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0.5rem;
  padding: 1.5rem;
  border-radius: 50%;
  z-index: 3;
}
.image-previewer.selected2::after{
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(/images/icons/Edit.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0.5rem;
  padding: 1.5rem;
  border-radius: 50%;
  z-index: 3;
}



.image-previewer.circle{
  border-radius: 50%;
}

.image-previewer.square{
  border-radius: 1rem;
}

.pop-up-btn-form{
  width: 100%;
  display: grid;
}

#Description{
  background-color: var(--surface);
  color: var(--text-color);
}

input[type="date"], 
input[type="date"] {
  accent-color: var(--text-color) !important;
}





/* Notifications */
.header-notification-container{
  position: relative;
} 

#notification-dropdown-button{
  cursor: pointer;
}
.dot-red{
  position: absolute;
  top:0px;
  right: 0px;
  background-color: var(--bg-color);
  color: red;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  z-index: 50;
  display: none;

  .dot-red-circle{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
    transform: translate(2px, 2px);
  }
}

.notification-dropdown{
display: none;
width: clamp(200px, 380px, 380px);
position: absolute;
top: 100%;
right: 0rem;
background-color: var(--surface);
border-radius: 1rem;
box-shadow: var(--shadow);
padding: 1rem;
z-index: 1000;
}

.notification-header{
display: grid;
grid-template-columns: 1fr auto;
gap: 0 1rem;
justify-content: space-between;
align-items: center;
padding: 0 1rem;
}
.notification-header-text{
margin: 0;
padding: 1rem 0;
}
.notification-number{
background-color: orangered;
width: 20px;
height: 20px;
border-radius: 50%;
color: white;
display: flex;
justify-content: center;
align-items: center;
font-size: 11px;
cursor: pointer;
  &:hover{
    &::before{
      content: 'Clear all notifications';
      position: absolute;
      top: 0;
      right: 0;
      background-color: var(--nav-bg-color);
      color: var(--text-color);
      padding: 0.5rem;
      border-radius: 0.5rem;
      font-size: 12px;
    }
  }
}

.dropdown-divider{
  border: 1px solid var(--nav-border-color);
  margin-bottom: 0.5rem;
}

.notifications{
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--nav-border-color) transparent;
}

.notifications .notification-item{
  display: grid;
  grid-template-areas: 
  'image message button'
  'image time button';
  grid-template-columns: auto 1fr auto;
  gap: 0 1rem;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--bg-color);
  border-radius: 1rem;
  .message{
    grid-area: message;
  }
  img.image{
    grid-area: image;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .notification-time{
    grid-area: time;
    font-size: 12px;
  }
  .btn-close{
    grid-area: button;
    background-color: transparent;
    color: var(--text);
    scale: 0.6;
    border: none;
    cursor: pointer;
    &:hover{
      color: var(--accent);
    }
  }
}
