<div class="notification-container">
    <div class="notification-header">
        <h5>Notifications</h5>
        <div class="notification-count">
            <p>1</p>
        </div>
    </div>

    <div class="notification-cards-container">

        <!-- Notification card -->
        <div class="notification-card">
            <img src="/images/Image.svg" alt="">
            <div class="notification-text-container">
                <p class="notification-text">ASP.NET Web App added</p>
                <span class="notification-time">1 min ago</span>
            </div>
            <button class="notification-remove-btn">x</button>
        </div>
    </div>

</div>