<div class="settings-container">

    <div class="user-card">
        <img src="/images/User5.svg" alt="">
        <div class="text-container">
            <p class="text">Tommy Mattin-Lassei</p>
        </div>
    </div>

    <div class="user-card-buttons">
        <div class="settings">
            <div class="flex gap-4">
                <img src="/images/icons/Setting.svg" alt="">
                <p class="text">Dark mode</p>
            </div>
            <input type="checkbox" class="" />
        </div>

        <div class="line"></div>

        <div class="logout">
            <img src="/images/icons/Logout.svg" alt="">
            <p class="text">Log out</p>

        </div>
    </div>

</div>