<div class="project">

    <div class="project-header">
        <img src="/images/Image.svg">
        <div class="project-header-title">
            <h6 class="project-title">Website Redsign</h6>
            <p class="project-title-info">GitLab Inc.</p>
        </div>
        <button class="project-btn-edit">&deg;&deg;</button>
    </div>

    <div class="project-body">
        <p class="project-description">It is necessary to develop a website redesign in a corporate style.</p>
    </div>

    <div class="project-footer">
        <div class="project-time">
            <div class="project-time-clock">
                <p class="project-time-clock-pointer-hour"></p>
                <p class="project-time-clock-pointer-minute"></p>
                <p class="project-time-clock-pointer-center">&bull;</p>
            </div>
            <p class="project-time-text">5 days left</p>
        </div>

        <div class="project-users">
            <img src="/images/User5.svg">
            <img src="/images/User5.svg">
            <img src="/images/User5.svg">
        </div>
    </div>

</div>