@{
    var username = User.Identity?.Name;
    var user = await _memberService.GetMemberAsync(x => x.UserName == username);
    var userId = user?.Id;
    var notifications = await _notificationService.GetNotificationsAsync(userId.ToString()!, 100);
    if (notifications != null)
    {
        notifications = notifications.OrderByDescending(x => x.Created).ToList();
        var isAdmin = User.FindFirst(ClaimTypes.Role)?.Value;
        if (isAdmin == null)
        {
            var test = notifications.Where(x => x.TargetGroupId != 2).ToList();
            notifications = test.ToList();
        }
    }
}

<div class="header-container">
    <div class="searchbar-container">
        <i class="header-icon fa-solid fa-magnifying-glass"></i>
        <input type="text" class="searchbar" placeholder="Search anything...">
    </div>

    <div class="header-buttons">
        <div class="header-notification-container">
            @await Html.PartialAsync("Partials/Components/_NotificationDropDownPartial", notifications)
        </div>

        <div class="pointer" onclick="toogleUserDropDownFromSettingsButtonDamnThisWasAnLongFunctionNameMaybeIShouldConciderDoingThisShorter()">
            <i class="fa-solid fa-gear"></i>
        </div>

    </div>

    <div class="header-divider"></div>

    <div class="header-user" data-target="#user-dropdown" onclick="toggleDropDowns(this)">
        <img class="header-user-icon" src="@user?.ImageUrl"/>
    </div>

    <div id="user-dropdown" class="dropdown header-options-popup surface">
        
        <a asp-action="ProfileEdit" asp-controller="Members" asp-route-id="@user!.Id">
            <div class="user-container">
                <img src="@user?.ImageUrl" />
                <h6>@user?.FullName</h6>
            </div>
        </a>
        <div class="darkmode-container" onclick="toggleDarkMode(this)">
            <p>
                <i class="fa-solid fa-gear"></i>
                Dark Mode
            </p>
            <div class="checkbox-container">
                <input class="darkmode-btn-toggle" type="checkbox"  />
            </div>
        </div>

        <a asp-controller="Login" asp-action="Logout">
            <div class="signout-container">
                <i class="fa-solid fa-person-through-window"></i>
                <p>Log out</p>
            </div>
        </a>

    </div>
</div>

<script>
    function toogleUserDropDownFromSettingsButtonDamnThisWasAnLongFunctionNameMaybeIShouldConciderDoingThisShorter(){
        const userDropDown = document.querySelector('#user-dropdown');
        const notificationdropDown = document.querySelector('#notification-dropdown');

        userDropDown.classList.toggle('show');
        notificationdropDown.classList.remove('show');
    }
</script>