@{
    var username = User.Identity?.Name;
    var user = await _memberService.GetMemberAsync(x => x.UserName == username);
}

<div class="header-container">
    <div class="searchbar-container">
        <i class="header-icon fa-solid fa-magnifying-glass"></i>
        <input type="text" class="searchbar" placeholder="Search anything...">
    </div>

    <div class="header-buttons">
        <div class="header-notification-container">
            <!-- Notification popup menu -->
            <partial name="Partials/Notification/_NotificationDropDownPartial" />
        </div>


        <div class="pointer" onclick="toggleDropDowns(this)">
            <i class="fa-solid fa-gear"></i>
        </div>

    </div>

    <div class="header-divider"></div>

    <div class="header-user" data-target="#user-dropdown" onclick="toggleDropDowns(this)">
        <img class="header-user-icon" src="@user.ImageUrl"/>
    </div>

    <div id="user-dropdown" class="dropdown header-options-popup surface">
        <div class="user-container">
            <img src="@user.ImageUrl" />
            <h6>@user.FullName</h6>
        </div>
        <div class="darkmode-container" onclick="toggleDarkMode(this)">
            <p>
                <i class="fa-solid fa-gear"></i>
                Dark Mode
            </p>
            <div class="checkbox-container">
                <input class="darkmode-btn-toggle" type="checkbox"  />
            </div>
        </div>

        <a asp-controller="Login" asp-action="Logout">
            <div class="signout-container">
                <i class="fa-solid fa-person-through-window"></i>
                <p>Log out</p>
            </div>
        </a>

    </div>
</div>