<div class="header-container">
    <div class="searchbar-container">
        <img class="header-icon" src="/images/icons/Search.svg">
        <input type="text" class="searchbar" placeholder="Search anything...">
    </div>

    <div class="header-buttons">
        <img class="header-icon" src="/images/icons/Notification-alert.svg">
        <img class="header-icon" src="/images/icons/Setting.svg">

        <!-- User popup menu -->
        @* @await Html.PartialAsync("Popups/_UserPopup") *@

        <div class="header-notification-menu">

            <!-- Notification popup menu -->
            @* @await Html.PartialAsync("Popups/_NotificationPopup") *@

        </div>
    </div>

    <div class="header-divider"></div>

    <div class="header-user">
        <img class="header-user-icon" src="/images/User5.svg">
    </div>
</div>