@{
    var username = User.Identity?.Name;
    var user = await _memberService.GetMemberAsync(x => x.UserName == username);
}

<div class="header-container">
    <div class="searchbar-container">
        <i class="header-icon fa-solid fa-magnifying-glass"></i>
        <input type="text" class="searchbar" placeholder="Search anything...">
    </div>

    <div class="header-buttons">
        <div class="pointer">
            <i class="fa-solid fa-bell"></i>
        </div>
        <div class="pointer" onclick="openPopUp()">
            <i class="fa-solid fa-gear"></i>
        </div>

        <div class="header-notification-menu">
            <!-- Notification popup menu -->
        </div>
    </div>

    <div class="header-divider"></div>

    <div class="header-user" onclick="openPopUp()">
        <img class="header-user-icon" src="@user.ImageUrl"/>
    </div>

    <div class="header-options-popup surface">
        <div class="user-container">
            <img src="@user.ImageUrl" />
            <h6>@user.FullName</h6>
        </div>
        <div class="darkmode-container" onclick="toggleDarkMode(this)">
            <p>
                <i class="fa-solid fa-gear"></i>
                Dark Mode
            </p>
            <div class="checkbox-container">
                <input class="darkmode-btn-toggle" type="checkbox"  />
            </div>
        </div>

        <a asp-controller="Login" asp-action="Logout">
            <div class="signout-container">
                <i class="fa-solid fa-person-through-window"></i>
                <p>Log out</p>
            </div>
        </a>

    </div>
</div>

<script>
    // Open Popup
    function openPopUp(){
        var popUpContainer = document.querySelector('.header-options-popup');
        popUpContainer.classList.toggle('popup-open')
    }

    // Toogle darkmode
    function toggleDarkMode(e) {
        document.body.classList.toggle("dark-mode");
        // Save darkMode to local storage
        localStorage.setItem("darkMode", document.body.classList.contains("dark-mode"));
    }
</script>