<nav class="nav-menu">
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <div class="navbar-header">
            <img class="header-logo" src="/images/Logo.svg" />
            <h1 class="header-title">alpha</h1>
        </div>
    </a>
    <div class="nav-links">
        <a class="" asp-controller="Admin" asp-action="Projects">
            <div class="nav-link-container">
                <span class="nav-link-text @(Context.Request.Path == "/projects" ? "active" : "")">
                    <i class="fa-solid fa-briefcase"></i>
                    Projects
                </span>
            </div>
        </a>

        @if(User.IsInRole("Admin")){
            <a class="" asp-controller="Admin" asp-action="Members">
                <div class="nav-link-container">
                    <span class="nav-link-text @(Context.Request.Path == "/members" ? "active" : "")">
                        <i class="fa-solid fa-user-tie"></i>
                        Team Members
                    </span>
                </div>
            </a>
        }

        <a class="" asp-controller="Admin" asp-action="Clients">
            <div class="nav-link-container">
                <span class="nav-link-text @(Context.Request.Path == "/clients" ? "active" : "")">
                    <i class="fa-solid fa-users"></i>
                    Clients
                </span>
            </div>
        </a>
    

    </div>

    <div class="trademark">
        <p>© 2025 DBP Develop</p>
    </div>
</nav>
