/*nav-menu css*/
.nav-menu{
  grid-column: 1;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 1rem;
  padding-bottom: 0;
  min-height: calc(100svh - 1rem);
  border-right: 1px solid var(--nav-border-color);
}

@media (max-width: 900px) {
  .nav-menu{
    display: none;
  }
}

.navbar-header {
  height: 32px;
  display: flex;
  justify-self: start;
  align-items: center;
  gap: 1rem;
  padding-left: 0.5rem;
  .header-logo{
    width: 32px;
    height: 32px;
  }

  .header-title {
    font-family: Comfortaa;
    font-size: 26px;
    font-weight: 900;
  }
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  gap: 0.1rem;
  width: 100%;
  a{
    width: 100%;
  }
}
.nav-link-container {
  display: grid;
  width: 100%;
}
.nav-link-container .nav-link-text{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  height: 56px;
  border-radius: 1rem;

  &:hover {
    background-color: var(--nav-bg-color);
  }
}
.active{
  background-color: var(--nav-bg-color);
  color: var(--accent);
}

.trademark{
  margin: 0 auto;
  
  p{
    margin: 0;
    color: var(--text-color);
  }
}