<div class="member-card">

    <button class="member-btn-edit">&deg;&deg;</button>

    <img class="member-image" src="/images/User5.svg">

    <h4>Hans Mattin-Lassei</h4>

    <div class="member-role">
        <p class="member-role-text">Cheif Executive Officer</p>
    </div>

    <div class="member-info">
        <p>hans@domain.com</p>
        <p>+46 070-123 45 79</p>
    </div>

    <button class="btn btn-gray">Message</button>

</div>