@model AddMemberFormModel


<div class="new-member-wrapper">
    <div class="member-edit-container">
        <h3 class="title">New Member</h3>
        <button class="member-close-btn">x</button>

        <form asp-action="TeamMembers" method="post" enctype="multipart/form-data" asp-antiforgery="true" novalidate>
             <div class="member-image-container">

                    <label asp-for="ProfilePicture">
                        <div class="image-preview">
                            <div id="circle-container" class="circle circle-gray">
                                <img class="fa-camera" src="/images/icons/Camera.svg" />
                            </div>
                            <img id="imagePreview" src="#" alt="Image preview" class="hidden" />
                        </div>
                    </label>

                <input asp-for="ProfilePicture" accept="image/*" class="form-control" hidden/>

            </div> 

            <div class="member-name-container">
                <div class="member-name form-group">
                    <label asp-for="FirstName" class="text-bold"></label>
                    <input asp-for="FirstName" />
                    <span asp-validation-for="FirstName"></span>
                </div>

                <div class="member-name form-group">
                    <label asp-for="LastName" class="text-bold"></label>
                    <input asp-for="LastName" />
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>

            <div class="member-email form-group">
                <label asp-for="Email" class="text-bold"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>

            <div class="member-phone form-group">
                <label asp-for="Phone" class="text-bold"></label>
                <input asp-for="Phone" />
                <span asp-validation-for="Phone"></span>
            </div>

            <div class="member-title form-group">
                <label asp-for="Title" class="text-bold"></label>
                <input asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>

            <div class="member-address-container">
                <label for="memberStatus" class="text-medium">Address</label>
                <div>
                    <div class="d-flex flex-column">
                        <label asp-for="Street"></label>
                        <input asp-for="Street" />
                        <span asp-validation-for="Street"></span>
                    </div>
                    <div class="d-flex flex-column">
                        <label asp-for="ZipCode"></label>
                        <input asp-for="ZipCode" />
                        <span asp-validation-for="ZipCode"></span>
                    </div>
                </div>
                <div>
                    <div class="d-flex flex-column">
                        <label asp-for="City"></label>
                        <input asp-for="City" />
                        <span asp-validation-for="City"></span>
                    </div>
                    <div class="d-flex flex-column">
                        <label asp-for="Country"></label>
                        <input asp-for="Country" />
                        <span asp-validation-for="Country"></span>
                    </div>
                </div>
            </div>


            <div class="member-birthdate-container">

                <label for="memberStatus" class="text-medium">Date of Birth</label>
                <div class="member-birthdate-selector">

                    <div class="member-birthdate form-group">
                        <select asp-for="Day" required>
                            <option value="not selected" selected disabled>Day</option>
                            @for(int i = 1; i <= 12; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <span asp-validation-for="Day"></span>
                    </div>

                    <div class="member-birthdate form-group">
                        <select asp-for="Month" required>
                            <option value="not selected" selected disabled>Month</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <span asp-validation-for="Month"></span>
                    </div>

                    <div class="member-birthdate form-group">
                        <select asp-for="Year" required>
                            <option disabled selected value="not selected">Year</option>
                            @for (int i = 1; i <= 125; i++)
                            {
                                <option value="@(DateTime.Now.Year - i)">@(DateTime.Now.Year - i)</option>
                            }
                        </select>
                        <span asp-validation-for="Year"></span>
                    </div>

                </div>
            </div>

            <button class="btn" type="submit">Create</button>
        </form>
    </div>
</div>

@await Html.PartialAsync("_ValidationFormScript")

<script>
    // Hide or show the profile image
    // When the DOM has been loaded
    document.addEventListener("DOMContentLoaded", () => {
        const fileInput = document.querySelector("#ProfilePicture")
        if(!fileInput) return

        fileInput.addEventListener("change", (event) => {
            const file = event.target.files[0]
            const circle = document.querySelector("#circle-container")
            const img =document.querySelector("#imagePreview")

            if(file){
                const reader = new FileReader()

                reader.onload = (event) => {
                    img.src = event.target.result
                    img.classList.remove("hidden")
                    circle.classList.add("hidden")
                }

                reader.readAsDataURL(file)
            }else{
                circle.classList.remove("hidden")
                img.classList.add("hidden")
            }
        })
    })

</script>