.members-container{
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 1rem;
}

.overlay{
  display: none;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn{
    max-width: 153px;
    height: 48px;
  }
}

.members-list{
display: flex;
gap: 1rem;
flex-wrap: wrap;
justify-content: center;
}