.projets-container {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  .btn{
  max-width: 153px;
  height: 48px;
  }
}

.projects-selector-bar {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;;
  .projects-selector-btn{
    border: none;
  }

  .projects-selector-btn {
    color: var(--body-light);
    font-weight: 700;
    padding-block: 0.5rem;
    background-color: transparent;
    &:hover{
      color: var(--accent);
      cursor: pointer;
    }
  }

  .btn-selected {
    color: var(--accent);
    border-bottom: 3px solid var(--accent);
  }

  border-bottom: 1px solid var(--border-color);
}

.projects-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
