<div class="projets-container">

    <div class="header">
        <h2 class="projets-title">Projects</h2>
        <button class="btn">+ Add Project</button>
    </div>

    <div class="projects-selector-bar">
        <!-- <div class="projects-selector"> -->
        <button class="projects-selector-btn btn-selected">ALL [113]</button>
        <button class="projects-selector-btn">STARTED [109]</button>
        <button class="projects-selector-btn">COMPLETED [4]</button>
        <!-- </div> -->
    </div>

    <div class="projects-list">

        <!-- Projects here -->
        @await Html.PartialAsync("Projects/_ProjectCard")


        <!-- Project Add Pop-up -->
        @* @await Html.PartialAsync("Projects/_ProjectAdd");  *@

    </div>
</div>