#clients{
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    #clients-add-btn{
      max-width: 130px;
    }
  }
}