
<partial name="Partials/Components/_AddMemberModal" />
<partial name="Partials/Components/_EditMemberModal" />



<section id="members">

    <header>
        <h2 class="members-title">Team Members</h2>
        <button id="members-add-btn" data-modal="true" data-target="#addMemberModal" class="btn">+ Add Member</button>
    </header>

    <div class="">
        <partial name="Partials/Sections/_MemberList"/> 
    </div>


</section>
<script src="~/js/memberModal.js"></script>
