@{
    Layout = "~/Views/Shared/_LayoutSignIn.cshtml";
}
@model MemberLoginFormModel

<div class="admin-login-container">

    <div class="admin-login-left">

        <p>Welcome to</p>
        <p class="admin-panel-text">Admin Panel</p>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat, vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.</span>

    </div>

    <div class="admin-login-right">


        <div class="sign-in-container">
            <div class="sign-in-header">
                <h1>Login</h1>
            </div>

            <div id="btn-signin-google">
                <form class="external-sign-in-container" asp-controller="Admin" asp-action="ExternalSignIn" method="post" novalidate>
                    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
                    <button class="btn btn-gray" type="submit" name="provider" value="Google">Sign in with Google</button>
                    <img src="https://img.icons8.com/color/48/000000/google-logo.png" />
                </form>
            </div>

            <div class="sign-in-or">
                <p>or</p>
            </div>

            <div class="sign-in-form">
                <form asp-controller="Admin" asp-action="SignIn" method="post" novalidate>
                    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />

                    @if (!string.IsNullOrEmpty(ViewBag?.Error))
                    {
                        <div class="sign-in-error">
                            @ViewBag?.Error
                        </div>
                    }

                    <div class="sign-in-entries">
                        <label class="text-medium" asp-for="Email"></label>
                        <input asp-for="Email" type="email">
                        <span asp-validation-for="Email"></span>
                    </div>

                    <div class="sign-in-entries">
                        <label class="text-medium" asp-for="Password"></label>
                        <div class="sign-in-password-field">
                            <input asp-for="Password" type="password" id="password">
                            <span asp-validation-for="Password"></span>
                            <div class="toggle-pwd-visibility" onclick="togglePasswordVisibility(this)">
                                <i id="toggle-btn" class="fa-regular fa-eye-slash"></i>
                            </div>
                        </div>
                    </div>

                    <div class="sign-in-chekbox">
                        <div class="checkbox">
                            <input type="checkbox" name="remember" id="remember">
                            <label for="remember">Remember me</label>
                        </div>
                        <div>
                            <a href="ForgotPassword.html">Forgot password?</a>
                        </div>
                    </div>

                    <div class="sign-in-entries">
                        <button class="btn" type="submit">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>