@{
    Layout = "~/Views/Shared/_LayoutSignIn.cshtml";
}

<div class="admin-login-container">

    <div class="admin-login-left">

        <p>Welcome to</p>
        <p class="admin-panel-text">Admin Panel</p>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat, vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.</span>

    </div>

    <div class="admin-login-right">


        <div class="sign-in-container">
            <div class="sign-in-header">
                <h1>Login</h1>
            </div>

            <div id="btn-signin-google">
                <button class="btn btn-gray">Login with Google</button>
                <img src="https://img.icons8.com/color/48/000000/google-logo.png" />
            </div>

            <div class="sign-in-or">
                <p>or</p>
            </div>

            <div class="sign-in-form">
                <form>
                    <div class="sign-in-entries">
                        <label class="text-medium" for="email">Email</label>
                        <input type="email" name="email" id="email" required placeholder="Your email adress">
                    </div>

                    <div class="sign-in-entries">
                        <label class="text-medium" for="password">Password</label>
                        <div class="sign-in-password-field">
                            <input class="" type="password" name="password" id="password" required minlength="8" placeholder="Enter your password">
                            <div class="toggle-pwd-visibility" onclick="togglePasswordVisibility()">
                                <i id="toggle-btn" class="fa-regular fa-eye-slash"></i>
                            </div>
                        </div>
                    </div>

                    <div class="sign-in-chekbox">
                        <div class="checkbox">
                            <input type="checkbox" name="remember" id="remember">
                            <label for="remember">Remember me</label>
                        </div>
                        <div>
                            <a href="ForgotPassword.html">Forgot password?</a>
                        </div>
                    </div>

                    <div class="sign-in-entries">
                        <a class="btn" asp-controller="Home" asp-action="Index">Log in</a>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>

<script>
    function togglePasswordVisibility(){
        const passwordField = document.querySelector('#password');
        const toggleIcon = document.querySelector('#toggle-btn');
        if(passwordField.type === "password"){
            passwordField.type = "text";
            toggleIcon.classList.remove('fa-eye-slash')
            toggleIcon.classList.add('fa-eye')
        }else{
            passwordField.type = "password";
            toggleIcon.classList.remove('fa-eye')
            toggleIcon.classList.add('fa-eye-slash')
        }
    }
</script>