.home-page-wrapper{
  display: grid;
  grid-template-rows: auto 1fr;
}

.home-page-container{
/*  background-color: hotpink;*/
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 0 1rem;
}
