
<div class="home-page-wrapper">
    <div class="home-page-header">
        <h1 class="display-4">Assignment 5 - alpha project</h1>
    </div>
    <br />
    <div class="home-page-mytake">
        <h4>My take on this assignment</h4>
        <p>bla bla bla</p>
    </div>

    @if (User.IsInRole("Admin")) 
    { 
        <div class="home-page-test-panel">
            <h6 class="home-page-test-panel-header">Test Panel</h6>
            <div class="home-page-test-panel-btns">
                <button class="btn btn-primary" onclick="test()">General notification</button>
                <button class="btn btn-secondary" onclick="testadmin()">Admin only notification</button>
            </div>
        </div>
    }
    else
    {
        <div class="home-page-test-panel">
            <p>User Controls</p>
            <form asp-controller="Admin" asp-action="ConvertToAdmin" asp-route-userName="@User.Identity!.Name" method="post">
                <button type="submit" class="btn btn-secondary">Make admin</button>
            </form>
        </div>
    }
</div>

<script>
    async function test(){
        try {
        const res = await fetch(`api/notifications/sendtest`, {
            method: 'POST'
        });
        if (res.ok) {
            console.log(`Test notifcation received`);
            return true
        } else {
            return false
        }
    }
    catch (error) {
        console.error(`Error when sending test notification: `, error);
        }
    }


    async function testadmin(){
        try {
        const res = await fetch(`api/notifications/sendadmintest`, {
            method: 'POST'
        });
        if (res.ok) {
            console.log(`Admin test notification received`);
            return true
        } else {
            return false
        }
    }
    catch (error) {
        console.error(`Error when sending testadmin notification: `, error);
        }
    }
</script>