
<div class="home-page-wrapper">
    <div class="home-page-header">
        <h1 class="display-4">Assignment 5 - alpha project</h1>
    </div>
    <br />
    <div class="home-page-mytake">
        <h4>My take on this assignment</h4>
        <p>bla bla bla</p>
    </div>

    <div>

        <button onclick="test()">General notification</button>
        <button onclick="testadmin()">Admin notification</button>
    </div>
</div>

<script>
    async function test(){
        try {
        const res = await fetch(`api/notifications/sendtest`, {
            method: 'POST'
        });
        if (res.ok) {
            console.error(`Notice sent`);
            return true
        } else {
            return false
            console.error(`Im not admin and is not getting this notice`);
        }
    }
    catch (error) {
        console.error(`Error when removing notification: `, error);
        }
    }


    async function testadmin(){
        try {
        const res = await fetch(`api/notifications/sendadmintest`, {
            method: 'POST'
        });
        if (res.ok) {
            console.error(`Admin Notice sent`);
            return true
        } else {
            return false
        }
    }
    catch (error) {
        console.error(`Error when removing notification: `, error);
        }
    }
</script>