@{
    var provider = User?.FindFirstValue(ClaimTypes.AuthenticationMethod);
    if (string.IsNullOrEmpty(provider))
    {
        provider = "Local Identity";
    }
    var email = User?.FindFirstValue(ClaimTypes.Email);
}

<div class="home-page-wrapper">
    <div class="home-page-container">
        <h1 class="display-4">Welcome to alpha project</h1>
    </div>

    <div class="account-info">
        <p class="provider">@provider</p>
        <p class="email">@email</p>
    </div>

    <div class="bike-game">

    </div>
</div>
