
<div class="home-page-wrapper">
    <div class="home-page-header">
        <h1 class="display-4">Assignment 5 - alpha project</h1>
    </div>
    <br />
    <div class="home-page-mytake">
        <h4>Min syn på denna inlämningsuppgift</h4>
        <p>Denna uppgift har varit betydligt större än dom tidigare uppgifterna. Vilket har resulterat i en del förvirring när man navigerar bland filerna, det blir en jäkla massa filer. Det har varit väldigt kul att få en inblick i hur tredjeparts inloggning, Identity samt signalR fungerar. Det är extremt användbar lärdom som jag kommer att använda flitigt i framtida projekt</p>

        <p>I övrigt så tycker jag att det flytigt på bra.</p>

        <p>Hasses meny hittar du nere till vänster. Här kan du skicka notifikationer samt lägga till eller ta bort admin status för aktuell användare.</p>
    </div>

    <div class="home-page-stats">
        <div class="home-page-stats-card">
            <h4 class="home-page-stats-header">Projects</h4>
            <p class="home-page-stats-counter">@_projectService.GetProjectCount()</p>
        </div>
        <div class="home-page-stats-card">
            <h4 class="home-page-stats-header">Clients</h4>
            <p class="home-page-stats-counter">@_clientService.GetClientsCount()</p>
        </div>
        <div class="home-page-stats-card">
            <h4 class="home-page-stats-header">Team members</h4>
            <p class="home-page-stats-counter">@_memberService.GetMembersCount()</p>
        </div>
        <div class="home-page-stats-card">
            <h4 class="home-page-stats-header">Addresses</h4>
            <p class="home-page-stats-counter">@_addressService.GetAddressCount()</p>
        </div>
    </div>
</div>