.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 270px auto;
  
  .main-container {
    grid-column: 2;
  }
}

@media (max-width: 900px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    min-height: calc(100svh - 1rem);
    padding: 0 1rem;
    padding-bottom: 0;
    border-right: none;
    
    .main-container {
      grid-column: 1;
      padding: 0;
      margin-top: 0.5rem;
    }
  }
}