<nav class="nav-menu">
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <div class="navbar-header">
            <img class="header-logo" src="/images/Logo.svg" />
            <h1 class="header-title">alpha</h1>
        </div>
    </a>
    <div class="nav-links">
        <div class="nav-link-container">
            <a class="navigation-link active" asp-controller="Projects" asp-action="Index"><img src="/images/icons/Projects.svg">Projects</a>
        </div>

        <div class="nav-link-container">
            <a class="navigation-link" asp-controller="Team" asp-action="Index"><img src="/images/icons/Contacts.svg">Team Members</a>
        </div>

    </div>

    <div class="trademark">
        <p>© 2025 DBP Develop</p>
    </div>
</nav>